<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binusezyfoody">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".OrderComplete3"
            android:label="Binus EzyFoody: Complete Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrder3"
            android:label="Binus EzyFoody: My Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order3"
            android:label="Binus EzyFoody: Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderComplete2"
            android:label="Binus EzyFoody: Complete Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrder2"
            android:label="Binus EzyFoody: My Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order2"
            android:label="Binus EzyFoody: Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:label="Binus EzyFoody: History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderComplete"
            android:label="Binus EzyFoody: Complete Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrder"
            android:label="Binus EzyFoody: My Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order"
            android:label="Binus EzyFoody: Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopUp"
            android:label="Binus EzyFoody: TopUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Foods"
            android:label="Binus EzyFoody: Foods"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Snacks"
            android:label="Binus EzyFoody: Snacks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Drinks"
            android:label="Binus EzyFoody: Drinks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="Binus EzyFoody"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>